html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
h1,
li, a {
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.hero-section {

    display: flex;
    padding: 10px 150px;
    background-color: #1f2937;
    gap: 20px;


}


.header {
    align-items: center;
}

.header img {
    height: 50px;
    flex: 0 0 auto;


}

.header p {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    text-decoration: solid;



}

.header ul {

    align-items: center;
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 24px;
    color: #f9faf8;

}

.hero-section {
    padding: 75px 150px;
   
}


.hero-section h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.hero-section p {

    color: #e5e7eb;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero-section a {
    border-radius: 10px;
    padding: 7px 25px;
    color: #e5e7eb;
    background-color: #3882f6;
    text-decoration: none;

}

.hero-left {
    flex: 1;
}

.hero-right {
    width: 800px;
    flex-shrink: 0;



}

.hero-section img {
    width: 800px;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
}

.info-section {
    padding: 40px 0px;

}

.info-section h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;

}

.inf-card {

    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.info-section i {
    font-size: 80px;
    color: #1f2937;


}

.fa-container {
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inf-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;


}

.testimonial-section {

    background-color: #e5e7eb;
    padding: 100px 300px;


}

.testimonial-section em {

    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;


}


.testimonial-section p {

    font-size: 28px;

    font-weight: bold;
    color: #1f2937;
    text-align: right;

}

.cta-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 10px 35px;
    background-color: #3882f6;
    height: 130px;
    margin: 100px 300px;
    border-radius: 15px;
}

.cta-section div {
    color: #e5e7eb;
}

.cta-section h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cta-section a {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 7px 25px;
    color: #e5e7eb;
    text-decoration: none;

}


.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: #e5e7eb;
}

.footer a:link, a:visited, a:active    {

    text-decoration: none;
    color:#e5e7eb;

}

@media only screen and (max-width: 1500px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .cta-section {
        flex-direction: column;

    }
  }